*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif !important;
    background-color: white;
}
h1, p, h2, h3, h4 {
    font-family: 'Libre Franklin', sans-serif !important;
}  
.header{
    position: relative;
    height:90vh;
}
.header::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:24;
    background-image: url("./images/img-full-bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
}
.header-wrapper{
    background-image:  url("./images/corporate.jpg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height:98%;
    width: 100%;
    /* position: relative;
    z-index: 5; */
}
.header-wrapper::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    z-index: 0; 
    background-color: rgba(89, 164, 238, 0.75); 
}
.header-wrapper::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.pattern-img-container{
    /* position: absolute;
    bottom: 0 ;
    left: 0; */
    width: 113%;   
    position: relative;
    z-index: 23;
}
.img-pattern{
    width: 100%;
}
.navbar-brand{
    color: #fefefe !important;
    font-size: 3rem !important;  
    font-weight: 700 !important;
    letter-spacing: 3px;
}
.navbar{
    position: relative;
    z-index: 25;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    
}
.nav-item{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}
.nav-link{ 
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #fefefe !important;
    font-weight: 700;
} 
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 25;
}
.shop-icon{
    color: #fefefe;
    margin-left: 4rem;
}
.search-icon{
    color: #fefefe; 
}
.header-title{
    font-size: 3.75rem;
    letter-spacing: 3px;
    color: #fefefe;
    font-weight: 700;
}
.header-para{
    font-size: 1.1rem  ;
    letter-spacing: 1px; 
    color: #fefefe;
    font-weight: 400; 
}

/* Services section */
.services{
    /* background-color: white; */
    margin-top: -9rem;
}
.services-top-row{
    margin-top: 8.5rem;
}
.services-main-row{
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.services-title{
    font-size: 2rem;
    letter-spacing: 2px;
    color: #303030;
    font-weight: 500;
    text-transform: uppercase;
}
.services-para{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #6c6c6c;
    font-weight: 400;
}
.services-content-title{
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #303030 !important;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.services-content-para{
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #6c6c6c !important;
    font-weight: 400;
}
.services-icon i{
    color:#0081ff ;
    font-size: 2.5rem !important;
}

/* Work Section */
.work{
    background-color: #f4f4f4;
}
.work-wrapper{
   padding: 8.5rem 0 8.5rem 0;
}
.work-bottom-row{
    margin-top: 1rem !important;
}
.work-main-title{
    font-size: 2rem; 
    color: #303030; 
    font-family: 'Libre Franklin', sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
}
.work-main-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 400;
    font-style: italic;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.work-description{
    
}
.work-btn{
    text-transform: uppercase;
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    letter-spacing: 1px; 
    color: #0081ff !important;
    border: 1px solid  #0081ff !important;
    border-radius: 1.3em !important;
}
.work-icon{
    color: #0081ff !important;  
    font-size: 2rem;
}
.work-content-title{
    text-transform: uppercase;
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    letter-spacing: 1px;
    color: #303030;
}
.work-content-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #777779;
    font-weight: 400;
    font-style: italic;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
}
.work-link{
    font-family: 'Libre Franklin', sans-serif !important;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    font-style: italic;
    float: right;
}

/* Portfolio Section */

.portfolio-top-row{
    padding: 8rem 0rem 6.25rem 0rem;
}
.portfolio-title{
    text-transform: uppercase;
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.9rem;
    letter-spacing: 2px;
    color: #303030;
    font-weight: 400 !important;
    margin-bottom: 2rem;
}
.portfolio-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #6c6c6c;
    font-weight:400;
}
.portfolio-categories{
    margin-top: 5.5rem !important;
    /* margin-bottom: 5.5rem !important; */
}
.category-item{
    list-style: none !important;
}
.category-link{
    font-family: 'Libre Franklin', sans-serif !important;
    text-decoration: none !important;
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.category-link::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 0; 
    height: 10%;
    background: #0081ff;
    transition: all 0.2s linear;
}
.category-link:hover{
    color: #0081ff;
}
.category-link:hover:before{
    width: 100%;
     
}
.active{
    border-bottom: 0.27rem solid #0081ff;
    color: #0081ff;
}
.portfolio-gallery{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    height: 75vh;
    gap: 0.8rem;
    overflow: hidden;
}
 
.gallery-item{   
    overflow: hidden; 
    position: relative;
} 
.item-1{
    background-image: url("./images/portfolio-2.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;
}
.item-3{
    background-image: url("./images/portfolio-5.5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;
}
.item-2{
    background-image: url("./images/portfolio-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;
}
.item-4{
    background-image: url("./images/portfolio-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;

}
.item-5{
    background-image: url("./images/portfolio-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;
}
.item-6{
    background-image: url("./images/portfolio-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-basis: 32%;
    height: 50%;
} 
.hover-content{ 
    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);  
    z-index: 15; 
    display: none; 
} 
.hover-content p{
    margin-bottom: 0;
} 
.hover-title{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #ffffff;
    font-weight: bold;
}
.hover-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1rem;
    letter-spacing: 1px; 
    color: #ffffff;
    font-weight: 400;
} 
.gallery-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0;  
    height: 100%;
    background : rgba(0, 129, 255, 0.7); 
    transition: all 0.2s linear
}   
.gallery-item:hover .hover-content{ 
    display: block;
    /* background : rgba(0, 129, 255, 0.7) */
}
.gallery-item:hover:before{ 
    width: 100%;
}
.portfolio-bottom-row{
    margin-top:0.5rem !important;
    background: #0081ff;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
} 
.portfolio-bottom-text{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #ffffff; 
    font-weight: 500;
    display: inline-block;
    margin: 0 3rem 0 0;


}
.portfolio-link{
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 600 !important;  
    border: 1px solid  #ffffff !important;
    border-radius: 1.3em !important;
}

/* Team Section */
.team{
    background-color:#f4f4f4 ;
}
.team-top-row{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.team-main-title{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.9rem;
    letter-spacing: 2px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.team-main-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #6c6c6c;
}


.team-img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-img-gallery::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.team-item{
    flex-basis: 25%;
    position: relative;
}
/* .team-img{
    position: relative;
} */
.team-hover-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    display: none;
}
.team-hover-content p{
    margin-bottom: 0;
}
.team-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;  
    height: 100%;
    background: rgba(255, 255, 255, 0.5) !important;
    transition: all 0.2s linear; 
}   
.team-item:hover .team-hover-content{ 
    display: block; 
}
.team-item:hover:before{ 
    background : rgba(0, 129, 255, 0.7) !important; 
}

/* Skill row */
.skill-range-wrap{
    min-width: 100%;
}
.skill-row{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
.skill-sub-heading{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 0.9rem;
    letter-spacing: 1px; 
    color: #303030;
}
.skill-title{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #303030;
    margin-bottom: 2.75rem;
}
.skill-para{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300;
    font-style: italic;
}
.progress{
    max-width: 95% !important;
    height: 0.4rem !important;
    border-radius: 3px !important;
    margin-bottom: 1.5rem;
}
.progress-1{
    background-color: #8900fe !important;
    width: 70%;
}
.progress-2{
    background-color: #f34992 !important;
    width: 80%;
}
.progress-3{
    background-color: #55acee !important; 
    width: 90%;
}
.skill-level-title{
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #303030;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
}

/* Blog Section */
.blog-top-row{
    margin-top: 7rem !important;
}
.blog-content-row{
    margin:5rem 0rem 5rem 0rem !important;
}
.blog-text-col{
    padding: 2rem 0rem 2rem 1rem;
}
.blog-wrap{
    background-color: #f6f5f3; 
}
.blog-width{
    width: 64%;
}
.blog-title{
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: #303030;
    font-weight: 500;
    text-transform: uppercase;
}
.blog-para{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #6c6c6c;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
}
.blog-content-sub-heading{
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #aaaaaa;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.blog-content-title{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #303030;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-content-para{
    font-size: 0.8rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300;
}
.blog-content-link{
    text-decoration: none;
}
.blog-tag{
    background-color: #0081ff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1.2rem 1rem 1.2rem;
} 
.blog-tag-month{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 0;
}
.blog-date{
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #ffffff;
}
.mini-blog-wrap{
    position: relative;
}
.blog-last{
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    min-height: 100% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Testimonial Section */
.testimonials{
    background-color: #f4f4f4;
    padding: 8rem 0rem 8rem 0rem ;
}
.testimonial-row{
   padding-bottom: 2rem;
}
.testimonial-title{
    font-size: 2rem;
    letter-spacing: 2px;
    color: #303030;
    font-weight: 500;
    text-transform: uppercase;
}
.testimonial-para{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #6c6c6c;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 5rem; 
}

.testimonial-content{
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px; 
    color: #303030 !important;
    display: flex;
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.testimonial-name{
    color: #0081ff;
    font-weight: 600;
    text-decoration: none; 
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 3rem;

}
.testimonial-icon{
    color: #909090 !important;
    opacity: 1 !important ;
    font-size: 2rem !important;
    cursor: pointer;
}
.testimonial-icon .active{ 
    
    color: #0081ff;
    border: none !important;
}
#carouselExampleControls{
    position: relative !important;
}
.carousel-control-next-icon{
    background-image: none;
}
.carousel-control-next, .carousel-control-prev{
    color: #909090 !important;
    opacity: 1 !important ;
    width: 0;
    
}
.carousel-item.active{
    border-bottom: none !important;
}
.carousel-indicators [data-bs-target]{
    
    background-color: #0081ff !important;
}
.web-section-content{
    padding: 7.5rem 0rem 7.5rem 0rem;
}
.web-img-row{
    height: 100%;
}
.web-section-title{
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 700;
}
.web-section-para{
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300;
    margin: 2rem 0rem 4.5rem 0rem;
}
.play-button{
    background: -webkit-gradient(linear, left top, left bottom, from(#00d2ff), to(#0081ff));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}
.web-video-link{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #303030;
    text-transform: uppercase;
    margin-left: 1rem;
}

/* Call out  */
.call-out{
    background:#0081ff ;
    padding: 6.5rem 0rem 6.5rem 0rem;
}
.call-out-title{
    font-size: 1.9rem;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem !important;
}
.call-out-para{ 
    font-size: 1.1rem;
    letter-spacing: 1px; 
    color: #b3d9ff;
    font-weight: 300;
}
.news-letter{
    width: 60%;
    position: relative;
    /* margin-right: auto;
    margin-left: auto; */
} 
.input-newsletter{
    padding: 1rem; 
    width: 100%;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 30px;
    background: transparent;
    border:1px solid white;

}
.email-submit-btn{
    font-size: 1.5rem;
    color: white;
}
.newsletter-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
}
::placeholder{
    color: white;
    font-style: italic;
    font-size: 1rem;
}
/* Footer */
.footer{
    background: #111111;
}
.footer p{
    margin-bottom: 0.3rem;
}
.footer-main-row{
    padding: 4.4rem 0rem 4.4rem 0rem;

}
.footer-brand{
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;

}
.footer-para{
    font-size: 1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300;
    line-height: 1.8rem;
}
.end-footer-text{
    font-size: 1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300; 

}
.footer-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fefefe;
}
.footer-links{
    padding-left: 4rem;
}
.footer-links-list{
    list-style: none;
}
.footer-link-item{
    text-align: left;
    font-size: 1.1rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
    color: #6b6b6b;
    font-weight: 300;
    text-decoration: none;
}
.contact-info{
    font-size: 1rem;
    letter-spacing: 1px; 
    color: #6c6c6c;
    font-weight: 300; 
}
.footer-light{ 
    font-size: 0.9rem;
    letter-spacing: 1px; 
    color: white;   
    font-weight: 300; 
}
.footer-highlight{
    color:  #a5d3ff;
    font-size: 1rem;
    letter-spacing: 1px; 
    font-weight: 300; 
}
/* Media Queires */
@media screen and (max-width:1400px){
    .portfolio-gallery{
        height: 65vh;
    }
}
@media screen and (max-width:1328px){
    .header-wrapper{
        height: 97%;
    }
    .header-wrapper::after{
        height: 97%;
    }
    .testimonial-content{
        font-size: 1.5rem !important;
    } 
    .nav-item{ 
        margin-left: 1rem;
        margin-right: 1rem;
    }
    :root{
        font-size: 96%;
    }

}
@media screen and (max-width:1300px){
    :root{
        font-size: 92%;
    }
}
@media screen and (max-width:1200px){
    :root{
        font-size: 87%;
    }
    .header{
        height: 80vh;
    }
}
@media screen and (max-width:1130px){
    :root{
        font-size: 81%;
    }
    .nav-item{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .portfolio-gallery{
        height : 55vh !important;
    }
}
@media screen and (max-width:1025px){
    :root{
        font-size: 74%;
    }
}
@media screen and (max-width:990px){
    .header{
        height: 70vh;
    }
    :root{
        font-size: 68%;
    }
    .nav-item{
        padding: 0.3rem;
    }
    .nav-item a{
        font-size: 1.2rem;
    }
    .shop-icon{
        margin-left:1rem !important;
    }
    .icon-list{
        flex-direction: row !important;
    }
    .navbar-brand{
        font-size: 3.5rem !important;
    }
}
@media screen and (max-width:945px){
    :root{
        font-size: 63%;
    }
    .portfolio-gallery{
        height:37vh !important;
    }
}
@media screen and (max-width:855px){
    :root{
        font-size: 57%;
    }   
}
@media screen and (max-width:768px){
    .header{
        height: 60vh;
    }
    :root{
        font-size: 52%;
    }   
    .services-main-row{
        padding-top: 5rem;
    }
    .services-content-title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .services-content-para{
        font-size: 1.7rem ;
    }
    .services-para{
        font-size: 1.7rem ;
        
    }
    .services-main-content{
        margin-bottom: 3rem;

    } 

    .work-content-title{
        font-size: 1.7rem !important;
    }
    .work-first-col{
        margin-bottom: 5rem;
    }
    .portfolio-gallery{
        height: 30vh !important;
    }
    .work-main-para, .work-content-para{
        font-size: 1.5rem;
    } 
    .news-letter{
        width: 70%;
    } 
    .portfolio-para{
        font-size: 1.5rem;
    }
    .team-main-para{
        font-size: 1.5rem;
    }
    .web-img-row{
        padding-top: 1.5rem;
    }
}
@media screen and (max-width:700px){
    :root{
        font-size: 45%;
    }
    .portfolio-gallery{
        height: 25vh;
    }
}
@media screen and (max-width:615px){
    :root{
        font-size: 39%;
    } 
}
@media screen and (max-width:577px){
    :root{
        font-size: 39%;
    } 
    .skill-title{
        letter-spacing: 1px;
    }
    .blog-width{
        width: 100%;
    }
    .blog-text-col{
        padding:5% 0 5% 3%;
    }
    .blog-container{
        margin-left: 1rem;
    }
    .footer-description{
        margin-bottom: 3rem;
    }
    .footer-links{
        padding-left: 7rem;
    }
    .header{
        height: 45vh;
    }
}
@media screen and (max-width:505px){
    :root{
        font-size: 35%;
    }
    .portfolio-gallery{
        height: 22vh !important;
    }
}
@media screen and (max-width:400px){
    :root{
        font-size: 29%  ;
    } 
    .header{
        height: 40vh;
    }
}
@media screen and (max-width:320px){
    .header{
        height: 30vh;
    }
    .services{
        margin-top: -8rem;
    }
}
@media screen and (max-width:300px){
    :root{
        font-size: 24%  ;
    } 
    .portfolio-gallery{
        height: 17vh !important;
    }
    .call-out-title, .footer-title, .web-section-title, .contact-info, .footer-highlight, .footer-light, .footer-para, .footer-brand, .call-out-para, .web-section-para, .portfolio-bottom-text, .portfolio-title, .services-title {
        letter-spacing: 0.7px !important;
    } 
    .input-newsletter{
        border: 0.3px solid white;
    }
    .work-btn{
        border: 0.3px solid #0081ff !important;
    }
    .portfolio-link{
        border: 0.3px solid white;
    }
}
@media screen and (max-width:250px){
    :root{
        font-size: 19%  ;
    } 
    .portfolio-gallery{
        height: 14vh !important;
    } 
    .header{
        height: 20vh;
    }
    
}
@media screen and (max-width:200px){
    :root{
        font-size: 12%  ;
    } 
    .portfolio-gallery{
        height: 10vh !important;
    }
} 
@media screen and (max-width:160px){
    :root{
        font-size: 9%  ;
    } 
    .portfolio-gallery{
        height: 8vh !important;
    }
}
@media screen and (max-width:110px){
    :root{
        font-size: 7%;
    }
    .call-out-title, .footer-title, .web-section-title, .contact-info, .footer-highlight, .footer-light, .footer-para, .web-section-para, .work-main-para, .work-content-para, .team-main-para, .portfolio-para, .services-para{
        letter-spacing: 0 !important;
    }
    .portfolio-gallery{
        height: 5vh !important;
    }
     
}
@media screen and (max-width:70px){
    :root{
        font-size: 6%;
    }
    .portfolio-gallery{
        height: 5vh !important;
    }
}